argostranslate
agno==2.5.9
google-genai
google-generativeai
pydantic-settings
annotated-types
anyio
blinker
click
distro
Flask
Flask-Cors
gunicorn
h11>=0.16.0
httpcore
httpx
itsdangerous
Jinja2
MarkupSafe
openai>=1.0.0
packaging
pydantic
pydantic_core
python-dotenv
setuptools
sniffio
tqdm
typing_extensions
Werkzeug
wheel
